<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title></title> -->
</head>
<body>
    {%extends "master.html"%}
    {%block title%}
    <h1>{{my_members.first_name}} {{my_members.last_name}}</h1>
    {%endblock%}

    {%block content%}
    <p>Phone: {{my_members.phone}}</p>
    <p>Member_since: {{my_members.joined_date}}</p>
    {%endblock%}

    <p>Back to <a href="/members">Members</a></p>
</body>
</html>